In [3]:
from bs4 import BeautifulSoup
import requests

In [10]:
req = requests.get('https://fr.trustpilot.com/categories')

In [11]:
soup = BeautifulSoup(req.text, "lxml")

In [ ]:
print(soup)

In [ ]:
section = soup.find("section", class_="categories_rightColumn__x8o71")
print(section)

In [17]:
divs = section.find_all("div", class_="categories_subCategory__3OxUx")

In [25]:
big_categories = {"names" : [], "links": []}
sub_categories = {"names" : [], "links": [], "parent": []}


for div in divs:
    # getting header of big category
    header3 = div.find("h3", class_="categories_subCategoryHeader__3Bd4c")
    
    # getting fr name, link
    name = header3.find("span").text
    link = header3.find("a")["href"]
    big_categories["names"].append(name)
    big_categories["links"].append(link)
    
    # getting div of sub categories
    sub_div = div.find("div", class_="categories_subCategoryList__1FB-L")
    every_sub_category_div = sub_div.find_all("div", class_="categories_subCategoryItem__2Qwj8")
    
    # in each sub category we'll find fr name, link
    for sub_category_div in every_sub_category_div:
        sub_name = sub_category_div.find("span").text
        sub_link = sub_category_div.find("a")["href"]
        
        sub_categories["names"].append(sub_name)
        sub_categories["links"].append(sub_link)
        sub_categories["parent"].append(name)
        

    
print(big_categories["names"])
print(big_categories["links"])

['Aliments, boissons & tabac', 'Animaux', 'Argent & assurance', 'Beauté & bien-être', 'Construction & fabrication', 'Éducation & formation', 'Électronique & technologie', 'Événements & divertissement', 'Loisirs & artisanat', 'Maison & jardin', 'Médias & édition', 'Restaurants & bars', 'Santé & médecine', 'Services', 'Services à domicile', 'Services aux entreprises', 'Services juridiques & administration', 'Services publics & locaux', 'Shopping & mode', 'Sport', 'Vacances & voyages', 'Véhicules & transport']
['/categories/food_beverages_tobacco', '/categories/animals_pets', '/categories/money_insurance', '/categories/beauty_wellbeing', '/categories/construction_manufactoring', '/categories/education_training', '/categories/electronics_technology', '/categories/events_entertainment', '/categories/hobbies_crafts', '/categories/home_garden', '/categories/media_publishing', '/categories/restaurants_bars', '/categories/health_medical', '/categories/utilities', '/categories/home_services', '/categories/business_services', '/categories/legal_services_government', '/categories/public_local_services', '/categories/shopping_fashion', '/categories/sports', '/categories/travel_vacation', '/categories/vehicles_transportation']

In [28]:
sub_categories["names"][0:14]

['Agriculture & production',
 'Bière & vin',
 'Boissons & alcool',
 'Bonbons & chocolat',
 'Boulangerie & pâtisserie',
 'Café & thé',
 'Déjeuner & traiteur',
 'Épiceries & marchés',
 'Épiceries asiatiques',
 'Fruits & légumes',
 'Production alimentaire',
 'Tabac & cigarettes',
 'Viande, fruits de mer & oeufs',
 'Animalerie']

In [29]:
sub_categories["links"][0:14]

['/categories/agriculture_produce',
 '/categories/beer_wine',
 '/categories/beverages_liquor',
 '/categories/candy_chocolate',
 '/categories/bakery_pastry',
 '/categories/coffee_tea',
 '/categories/lunch_catering',
 '/categories/grocery_stores_markets',
 '/categories/asian_grocery_stores',
 '/categories/fruits_vegetables',
 '/categories/food_production',
 '/categories/smoking_tobacco',
 '/categories/meat_seafood_eggs',
 '/categories/pet_stores']

In [31]:
len(sub_categories["links"])

182

In [32]:
import pandas as pd

In [33]:
df_sub = pd.DataFrame(data=sub_categories)

In [34]:
df_sub

,names,links,parent
0,Agriculture & production,/categories/agriculture_produce,"Aliments, boissons & tabac"
1,Bière & vin,/categories/beer_wine,"Aliments, boissons & tabac"
2,Boissons & alcool,/categories/beverages_liquor,"Aliments, boissons & tabac"
3,Bonbons & chocolat,/categories/candy_chocolate,"Aliments, boissons & tabac"
4,Boulangerie & pâtisserie,/categories/bakery_pastry,"Aliments, boissons & tabac"
...,...,...,...
177,Réparation de véhicules & carburant,/categories/vehicle_repair_fuel,Véhicules & transport
178,Taxis & transports publics,/categories/taxis_public_transport,Véhicules & transport
179,Transport aérien & nautique,/categories/air_water_transport,Véhicules & transport
180,Vélos,/categories/bicycles,Véhicules & transport
181,Voitures & camions,/categories/cars_trucks,Véhicules & transport

In [35]:
df_big = pd.DataFrame(data=big_categories)

In [37]:
df_big["parent"] = df_big["names"]

In [46]:
df_big

,names,links,parent
0,"Aliments, boissons & tabac",/categories/food_beverages_tobacco,"Aliments, boissons & tabac"
1,Animaux,/categories/animals_pets,Animaux
2,Argent & assurance,/categories/money_insurance,Argent & assurance
3,Beauté & bien-être,/categories/beauty_wellbeing,Beauté & bien-être
4,Construction & fabrication,/categories/construction_manufactoring,Construction & fabrication
5,Éducation & formation,/categories/education_training,Éducation & formation
6,Électronique & technologie,/categories/electronics_technology,Électronique & technologie
7,Événements & divertissement,/categories/events_entertainment,Événements & divertissement
8,Loisirs & artisanat,/categories/hobbies_crafts,Loisirs & artisanat
9,Maison & jardin,/categories/home_garden,Maison & jardin
10,Médias & édition,/categories/media_publishing,Médias & édition
11,Restaurants & bars,/categories/restaurants_bars,Restaurants & bars
12,Santé & médecine,/categories/health_medical,Santé & médecine
13,Services,/categories/utilities,Services
14,Services à domicile,/categories/home_services,Services à domicile
15,Services aux entreprises,/categories/business_services,Services aux entreprises
16,Services juridiques & administration,/categories/legal_services_government,Services juridiques & administration
17,Services publics & locaux,/categories/public_local_services,Services publics & locaux
18,Shopping & mode,/categories/shopping_fashion,Shopping & mode
19,Sport,/categories/sports,Sport
20,Vacances & voyages,/categories/travel_vacation,Vacances & voyages
21,Véhicules & transport,/categories/vehicles_transportation,Véhicules & transport

In [39]:
df = pd.concat([df_big, df_sub])

In [42]:
df = df.reset_index()

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   204 non-null    int64
 1   names   204 non-null    object
 2   links   204 non-null    object
 3   parent  204 non-null    object
dtypes: int64(1), object(3)
memory usage: 6.5+ KB

In [45]:
df.to_csv("categories.csv")