In [1]:
from bs4 import BeautifulSoup
import requests
import numpy as np
import pandas as pd
import random
import time

In [2]:
from scrap_compagnies_and_reviews_from_category import *
from scrap_companies_from_category import *
from scrap_companies_from_query import *
from scrap_reviews_from_company import *

In [3]:
df_categories = pd.read_csv("csv/categories.csv")
df_categories.head()

                      fr_name                        link  category
0  Aliments, boissons & tabac      food_beverages_tobacco         0
1                     Animaux                animals_pets         0
2          Argent & assurance             money_insurance         0
3          Beauté & bien-être            beauty_wellbeing         0
4  Construction & fabrication  construction_manufactoring         0

In [12]:
companies = scrap_companies_from_category("food_beverages_tobacco", location="paris",
                                          scrap_best_score=False, max_companies=39)
df_companies = pd.DataFrame(data=companies)
df_companies.tail()

,name,link,stars,review_count,location,category
34,My Pepper Factory,mypepperfactory.com,3.7,1.0,10 Rue Ernest Psichari . 75007Paris,food_beverages_tobacco
35,Vins et Champagne,vinsetchampagne.fr,3.6,18.0,56 rue de la fédération . 75015Paris,food_beverages_tobacco
36,www.blm-whisky.com,blm-whisky.com,NaN,NaN,4 avenue ingres . 75016paris,food_beverages_tobacco
37,Whisky Prestige,whisky-prestige.com,NaN,NaN,26 RUE GEORGE SAND 75016 PARIS – FRANCE . 7501...,food_beverages_tobacco
38,biscuitsclaireetjulie.com,biscuitsclaireetjulie.com,NaN,NaN,88 rue Didot . 75014Paris,food_beverages_tobacco