In [2]:
from bs4 import BeautifulSoup
import requests
import numpy as np
import pandas as pd
import random
import time
from tqdm import tqdm # for progress bar

In [3]:
from scrap_compagnies_and_reviews_from_category import *
from scrap_companies_from_category import *
from scrap_companies_from_query import *
from scrap_reviews_from_company import *

In [4]:
def scrap_all_categories(max_companies=2, max_reviews=2, max_req=-1):
    df_categories = pd.read_csv("csv/categories.csv")
    df_categories.head()
    df_big_categories_link = df_categories[df_categories["category"] == 0]["link"]
    companies = {"name": [], "link": [], "stars": [], "review_count": [], "category": [], "location": []}
    reviews = {"consumer_name": [], "consumer_nb_review_writed": [], "stars": [],
               "title_review": [], "content_review": [], "date_experience": [], "company": [], "category": []}


    #40, 240
    for i in tqdm(range(len(df_big_categories_link))):
    #for i in range(len(df_big_categories_link)):
        new_companies, new_reviews = scrap_companies_and_reviews_from_category(df_big_categories_link[i], max_companies=max_companies,
                                                                               max_reviews=max_reviews, verbose=0, max_req=max_req)

        for key in companies:
            companies[key] += new_companies[key]
        for key in reviews:
            reviews[key] += new_reviews[key]

    df_companies = pd.DataFrame(data=companies)
    df_reviews = pd.DataFrame(data=reviews)
    return df_companies, df_reviews

In [5]:
def scrap_all_companies(max_req=-1):
    df_categories = pd.read_csv("csv/categories.csv")
    df_categories.head()
    df_big_categories_link = df_categories[df_categories["category"] == 0]["link"]
    companies = {"name": [], "link": [], "stars": [], "review_count": [], "category": []}
    for i in tqdm(range(len(df_big_categories_link))):
        new_companies = scrap_companies_from_category(df_big_categories_link[i], max_companies=-1, max_req=max_req)
        for key in companies:
            companies[key] += new_companies[key]
    df_companies = pd.DataFrame(data=companies)
    return df_companies

In [6]:
df_companies, df_reviews = scrap_all_categories(2, 2)

print(df_companies.shape)
print(df_companies.info())
display(df_companies.head())

print(df_reviews.shape)
print(df_reviews.info())
display(df_reviews.head())

df_companies.to_csv("scraped_companies.csv", sep=";", index=False)
df_reviews.to_csv("scraped_reviews.csv", sep=";", index=False)

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 22/22 [00:47<00:00,  2.15s/it]

(44, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          44 non-null     object
 1   link          44 non-null     object
 2   stars         44 non-null     float64
 3   review_count  44 non-null     int64
 4   category      44 non-null     object
 5   location      31 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 2.2+ KB
None

,name,link,stars,review_count,category,location
0,Le Petit Vapoteur,www.lepetitvapoteur.com,4.9,3152,food_beverages_tobacco,NaN
1,Comptoir des Vignes,www.comptoirdesvignes.fr,4.9,2212,food_beverages_tobacco,NaN
2,Peeweepaw,peeweepaw.shop,4.9,756,animals_pets,78360 . Montesson
3,Animauxvillas,www.animauxvillas.com,4.9,451,animals_pets,Van Harenstraat 6 . 5145 RJWaalwijk
4,Or en Cash,orencash.fr,4.9,3393,money_insurance,NaN

(88, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   consumer_name              88 non-null     object
 1   consumer_nb_review_writed  88 non-null     int64
 2   stars                      88 non-null     int64
 3   title_review               88 non-null     object
 4   content_review             75 non-null     object
 5   date_experience            74 non-null     object
 6   company                    88 non-null     object
 7   category                   88 non-null     object
dtypes: int64(2), object(6)
memory usage: 5.6+ KB
None

,consumer_name,consumer_nb_review_writed,stars,title_review,content_review,date_experience,company,category
0,Ghestin K,1,5,Les meilleurs,"Large catalogue, SAV a l’écoute et compréhensi...",15 mars 2021,www.lepetitvapoteur.com,food_beverages_tobacco
1,Sylvain,2,5,Un large choix de produits,"Un large choix de produits, du Matos de qualit...",15 mars 2021,www.lepetitvapoteur.com,food_beverages_tobacco
2,Marc Dagosto,1,5,Une équipe sympa et de bon conseil,"Un choix varié et excellent, que ce soit en vi...",6 février 2021,www.comptoirdesvignes.fr,food_beverages_tobacco
3,MONTIE JEAN-MICHEL,1,5,Très beau magasin personnel accueillant…,Très beau magasin personnel accueillant la biè...,17 mars 2021,www.comptoirdesvignes.fr,food_beverages_tobacco
4,Pauline Mendes,2,5,Très contente,"Très contente , articles de qualités et vraime...",18 mars 2021,peeweepaw.shop,animals_pets

In [11]:
df_companies = scrap_all_companies()

print(df_companies.shape)
print(df_companies.info())
display(df_companies.head())

df_companies.to_csv("all_companies.csv", sep=";", index=False)

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 22/22 [20:16<00:00, 55.28s/it]

AttributeError: 'tuple' object has no attribute 'shape'

In [15]:
print(df_companies.shape)
print(df_companies.info())
display(df_companies.head())
display(df_companies.tail())

df_companies.to_csv("all_companies.csv", sep=";", index=False)

(11466, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11466 entries, 0 to 11465
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          11466 non-null  object
 1   link          11466 non-null  object
 2   stars         8680 non-null   float64
 3   review_count  8680 non-null   float64
 4   category      11466 non-null  object
dtypes: float64(2), object(3)
memory usage: 448.0+ KB
None

,name,link,stars,review_count,category
0,Le Petit Vapoteur,www.lepetitvapoteur.com,4.9,3152.0,food_beverages_tobacco
1,Comptoir des Vignes,www.comptoirdesvignes.fr,4.9,2210.0,food_beverages_tobacco
2,MonWhisky.fr,monwhisky.fr,4.9,849.0,food_beverages_tobacco
3,Belleville Brulerie - Paris,cafesbelleville.com,4.9,820.0,food_beverages_tobacco
4,Spiruline des îles d'or,spiruline-des-iles-dor.com,4.9,403.0,food_beverages_tobacco

,name,link,stars,review_count,category
11461,Dégrifauto,degrifauto.fr,1.3,215.0,vehicles_transportation
11462,RATP,ratp.fr,1.3,148.0,vehicles_transportation
11463,Indigo,fr.parkindigo.com,1.3,53.0,vehicles_transportation
11464,Europcar,europcar.fr,1.2,1333.0,vehicles_transportation
11465,Véloshop82,www.veloshop82.fr,1.2,133.0,vehicles_transportation