In [12]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [13]:
url = "https://fr.trustpilot.com/categories"

In [14]:
req = requests.get(url)
try:
    soup = BeautifulSoup(req.text, "lxml")
except:
    soup = BeautifulSoup(req.text, "html.parser")

In [ ]:
print(soup)

In [16]:
big_categories = {"fr_name" : [], "link": []}
sub_categories = {"fr_name" : [], "link": []}


section = soup.find("section", class_="categories_rightColumn__x8o71")
divs = section.find_all("div", class_="categories_subCategory__3OxUx")

for div in divs:
    # getting header of big category
    header3 = div.find("h3", class_="categories_subCategoryHeader__3Bd4c")
    
    # getting fr name, link
    name = header3.find("span").text
    link = header3.find("a")["href"]
    link = link.split("/")[-1]
    big_categories["fr_name"].append(name)
    big_categories["link"].append(link)
    
    # getting div of sub categories
    sub_div = div.find("div", class_="categories_subCategoryList__1FB-L")
    every_sub_category_div = sub_div.find_all("div", class_="categories_subCategoryItem__2Qwj8")
    
    # in each sub category we'll find fr name, link
    for sub_category_div in every_sub_category_div:
        sub_name = sub_category_div.find("span").text
        sub_link = sub_category_div.find("a")["href"]
        sub_link = link + "/" + sub_link.split("/")[-1]
        
        sub_categories["fr_name"].append(sub_name)
        sub_categories["link"].append(sub_link)        

    
df_big = pd.DataFrame(data=big_categories)
df_sub = pd.DataFrame(data=sub_categories)
df_big["category"] = 0
df_sub["category"] = 1

In [20]:
df_big.head()

                      fr_name                        link  category
0  Aliments, boissons & tabac      food_beverages_tobacco         0
1                     Animaux                animals_pets         0
2          Argent & assurance             money_insurance         0
3          Beauté & bien-être            beauty_wellbeing         0
4  Construction & fabrication  construction_manufactoring         0

In [35]:
display(df_sub.head())
df_sub.shape

,fr_name,link,category
0,Agriculture & production,food_beverages_tobacco/agriculture_produce,1
1,Bière & vin,food_beverages_tobacco/beer_wine,1
2,Boissons & alcool,food_beverages_tobacco/beverages_liquor,1
3,Bonbons & chocolat,food_beverages_tobacco/candy_chocolate,1
4,Boulangerie & pâtisserie,food_beverages_tobacco/bakery_pastry,1

(182, 3)

In [49]:
sub_sub_categories = {"fr_name": [], "link": []}

url = "https://fr.trustpilot.com/categories/"

size = len(df_sub)
i = 0

while i < size:
    sub_link = df_sub["link"][i].split("/")[-1]
    req = requests.get(url + sub_link)
    try:
        soup = BeautifulSoup(req.text, "lxml")
    except:
        soup = BeautifulSoup(req.text, "html.parser")

    ul = soup.find("ul", class_="styles_subCategoriesList__1YKDz")
    try:
        lis = ul.find_all("li")
    except:
        print(i, url + sub_link)
    for li in lis:
        a_balise = li.find("a")
        if a_balise["href"] == "#":
            continue
        link = df_sub["link"][i] + "/" + a_balise["href"].split("/")[-1]
        name = a_balise.text.split('(')[0]
        name = name[0:len(name)-1]
        
        sub_sub_categories["fr_name"].append(name)
        sub_sub_categories["link"].append(link)
        
    i += 1

df_sub_sub = pd.DataFrame(data=sub_sub_categories)
df_sub_sub["category"] = 2
df_sub_sub.head()

96 https://fr.trustpilot.com/categories/general_restaurants

,fr_name,link,category
0,Agriculteur,food_beverages_tobacco/agriculture_produce/cro...,2
1,Coopérative agricole,food_beverages_tobacco/agriculture_produce/agr...,2
2,Ferme,food_beverages_tobacco/agriculture_produce/farm,2
3,Fournisseur de services agricoles,food_beverages_tobacco/agriculture_produce/agr...,2
4,Grossiste de produits,food_beverages_tobacco/agriculture_produce/pro...,2

In [52]:
df_sub_sub.tail()

,fr_name,link,category
1682,Courtier automobile,vehicles_transportation/cars_trucks/auto_broker,2
1683,Marchand de pièces détachées,vehicles_transportation/cars_trucks/salvage_de...,2
1684,Marché automobile,vehicles_transportation/cars_trucks/auto_market,2
1685,Société de transport routier,vehicles_transportation/cars_trucks/trucking_c...,2
1686,Vendeur de voitures d'occasion,vehicles_transportation/cars_trucks/used_car_d...,2

In [72]:
print(df_sub_sub.shape)
print(len(df_sub_sub["link"].unique()))
print(len(df_sub_sub["fr_name"].unique()))

(1687, 3)
1687
1682

In [73]:
df_sub_sub["fr_name"].value_counts()

Maçon                                        2
Magasin de vêtements de sport                2
Cuisine française moderne                    2
Studio de photographie                       2
Pizzeria                                     2
                                            ..
Clinique spécialisée                         1
Entrepreneur en éclairage                    1
Agence de location de maisons de vacances    1
Boutique de mariage                          1
Compagnie aérienne                           1
Name: fr_name, Length: 1682, dtype: int64

In [75]:
print(df_sub_sub[df_sub_sub["fr_name"] == "Maçon"]["link"][423])
print(df_sub_sub[df_sub_sub["fr_name"] == "Maçon"]["link"][1072])

construction_manufactoring/construction_services/stonemason
home_services/craftsman/bricklayer

In [76]:
print(df_sub.shape)
print(len(df_sub["link"].unique()))
print(len(df_sub["fr_name"].unique()))

(182, 3)
182
180

In [77]:
df_sub["fr_name"].value_counts()

Impression & design graphique    2
Jardin & paysagisme              2
Formations & cours               1
École & lycée                    1
Bijoux & montres                 1
                                ..
Voitures & camions               1
Jeux                             1
Activités extérieures            1
Animalerie                       1
Théâtre & opéra                  1
Name: fr_name, Length: 180, dtype: int64

In [80]:
print(df_sub[df_sub["fr_name"] == "Impression & design graphique"]["link"])

125    business_services/print_graphic_design
126    business_services/research_development
Name: link, dtype: object

In [81]:
print(df_big.shape)
print(len(df_big["link"].unique()))
print(len(df_big["fr_name"].unique()))

(22, 3)
22
22

In [82]:
df = pd.concat([df_big, df_sub, df_sub_sub], ignore_index=True)

In [84]:
df.shape

(1891, 3)

In [85]:
df["category"].value_counts()

2    1687
1     182
0      22
Name: category, dtype: int64

In [86]:
df.to_csv("categories.csv", index=False, sep=";")

In [87]:
df = pd.read_csv("categories.csv", sep=";")
df.head()

                      fr_name                        link  category
0  Aliments, boissons & tabac      food_beverages_tobacco         0
1                     Animaux                animals_pets         0
2          Argent & assurance             money_insurance         0
3          Beauté & bien-être            beauty_wellbeing         0
4  Construction & fabrication  construction_manufactoring         0